[MASTER]
load-plugins=pylint_odoo
score=n

[ODOOLINT]
readme-template-url="https://github.com/OCA/maintainer-tools/blob/master/template/module/README.rst"
manifest-required-authors=Javier Sánchez de Pedro,Odoo Community Association (OCA)
manifest-required-keys=license
manifest-deprecated-keys=description,active
license-allowed=AGPL-3,LGPL-3

[MESSAGES CONTROL]
disable=all
enable=anomalous-backslash-in-string,
    assignment-from-none,
    attribute-deprecated,
    dangerous-default-value,
    deprecated-module,
    duplicate-key,
    eval-used,
    invalid-commit,
    license-allowed,
    manifest-author-string,
    manifest-deprecated-key,
    manifest-required-author,
    manifest-required-key,
    method-compute,
    method-inverse,
    method-required-super,
    method-search,
    pointless-statement,
    pointless-string-statement,
    print-used,
    redundant-keyword-arg,
    reimported,
    return-in-init,
    sql-injection,
    too-few-format-args,
    translation-field,
    translation-required,
    unreachable,
    use-vim-comment,
